@font-face {
    font-family: Chilanka;
    src: url('../fonts/Chilanka-Regular.ttf');
   
  }

  @font-face {
    font-family: Exo;
    src: url('../fonts/Exo-VariableFont_wght.ttf');
   
  }


html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Chilanka';
    margin: 0;
    
} 


/* header */

.header{
    font-family: 'Exo';
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    border: #DB1414 1px solid;
    border-radius: 30px;
    width: 680px;
    padding: 0;
    background-color: rgba(217, 217, 217, 0.5);
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%); 
    -webkit-box-shadow: 0 3px 10px -6px black;
       -moz-box-shadow: 0 3px 10px -6px black;
            box-shadow: 0 3px 10px -6px black;
    z-index: 2;
}

.drawer{
    display: none;
}

.links{
    display: flex;
    justify-content: space-between;
   
}

.link{
    text-decoration: none;
    color: #DB1414;
    font-size: 17px;
    margin: -5px;
    margin-left: 30px;
    margin-right: 30px;
    font-weight: 500;
}



/* home */

#home{
    background: url('/assets/images/home/bg-img.svg') bottom right no-repeat;
    background-size: contain;
    height: 100vh;
    display: flex;
    justify-content: space-around;
}


.home-left{
    margin-top: auto;
    margin-left: 100px;
}

.home-text1{
    font-size: 25px;
    font-weight: 599;
    margin: 20px;
}

.text1{
    margin-left: 200px;
}

.home-text2{
    font-size: 65px;
    font-weight: 550;
    text-shadow: 1px 3px #000;
    color: #fff;
    margin: 0;
}


.home-right{
    margin-top: 180px;
    margin-left: -50px;
}


/* facility */


#facilities{
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   margin: 50px;
}


.facility-container{
  margin-top: 30px;
  margin-bottom: 30px;
}

.facility-para{
    font-size: 35px;
    font-weight: 550;
}

.facility-img{
    height: auto;
    max-width: 100%;
}

/* about */

#about{
    margin: 50px;
    margin-top: 10px;
}


.about-top{
   
}


.about-top-text {
    font-size: 34px;
    font-weight: 600;
    text-align: center;
    
}


.about-scroll-container{
    overflow-x: hidden;
    overflow-y: hidden;
}

.about-list{
    position: relative;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    transition: all 0.2s;
    transform: scale(0.98);
    will-change: transform;
    user-select: none;
    cursor: pointer;
}

.about-list:active{
    cursor: grabbing;
    cursor: -webkit-grabbing;
    transform: scale(1);
}

.about-inlist{
    margin-left: 50px;
    margin-right: 50px;
}

.about-inlist:first-child{
    margin-left: -10px;
}

.about-img{
    
}
/* contact */


#contact{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: auto;
    margin: 50px;
}


.contact-left{
    
    margin-top: 200px;
}

.contact-inleft{
display: flex;
justify-content: space-between;

}


.contact-link{
    display: flex;
    text-decoration: none;
    color: #F67266;
    margin-top: 1px;
    margin-bottom: 1px;
}


.map{
    width: 570px;
    height: 570px;
    border-radius: 30px;
}

.contact-text{
    font-size: 27px;
}

.contact-icon{
    margin-right: 30px;
}


/* footer */

#footer{
    background-color: rgba(246, 114, 102, 0.25);
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;

}

.footer-text{
    font-size: 25px;
    font-family: Exo;
}

span{
    color: #8A1BF6;
    font-weight: bold;
}


/* responsive */


@media screen and (max-width: 1150px){
    #home{
        margin-left: 10px;
    }

    .home-text1{
        font-size: 20px;
        font-weight: 599;
        margin: 20px;
    }

    .home-text2{
        font-size: 35px;
        font-weight: 550;
        text-shadow: 1px 3px #000;
        color: #fff;
        margin: 0;
    }
    
}

@media screen and (max-width: 970px){
    #home{
        background: url('/assets/images/home/img2.svg') bottom right no-repeat;
        background-size: 100%;
        margin-left: 0px;
    }

    .home-img{
        width: 400px;
    }

    .home-text1{
        font-size: 25px;
        font-weight: 599;
        margin: 0px;
    }

    .home-left{
        margin-top: auto;
        margin-left: 10px;
        padding-bottom: 50px;
    }
}

@media screen and (max-width: 740px){

    .links{
        display: none;
    }

    .header{
        margin-bottom: auto;
        width: 100%;
        background-color: #D9D9D9;
        justify-content: flex-end;
        border-radius: 0px;
        top: auto;
    }

    .links-active{
        position: absolute;
        display: block;
        left: auto;
        margin: 0px;
        background-color: #F67266;
        width: 100%;
        margin-top: 37px;
    }

    .link{
        color: white;
        margin: 0;
        text-align: center;
    }

    .drawer{
        display: block;
        padding-right: 20px;
    }

    #home{
        background: url('/assets/images/home/img2.svg') bottom right no-repeat;
        background-size: 100%;
        margin-left: 0px;
        height: 70vh;  
        display: flex;
        flex-direction: row;
        flex-wrap: wrap-reverse;
    }

    .home-right{
        margin-top: 90px;
        margin-left: 100px;
    }
    

    .home-img{
        width: 300px;
    }

    .home-text1{
        font-size: 20px;
        font-weight: 599;
        margin: 0px;
    }

    .home-text2{
        font-size: 40px;
        margin: 0;
    }
    

    .home-left{
        margin-top: auto;
        margin-right: auto;
        padding-bottom: 20px;
    }

    .text1{
        margin-left: 0px;
    }


    #contact{
       
    }

    .map{
        width: auto;
    }

    .footer-text{
        font-size: 12px;
    }
}


@media screen and (max-width: 500px){
    .home-img{
        width: 280px;
    }

    .home-text1{
        font-size: 15px;
        font-weight: 599;
        margin: 0px;
    }

    .home-text2{
        font-size: 35px;
        margin: 0;
    }

    .home-right{
        margin-top: 60px;
        margin-left: 25px;
    }

    #home{
        height: 
        60vh;
    }

    .about-top-text {
        font-size: 20px;
        
    }

    #about{
        margin: 10px;

    }

    .about-list{
        overflow-x: scroll;
    }

    .about-img{
        max-width: 300px;
    }

    .about-inlist{
        margin-left: 20px;
        margin-right: 20px;
    }

    .about-inlist:first-child{
        margin-left: -20px;
    }

    #contact{
        margin: 10px;
    }

    .contact-left{
        margin-top: 50px;
    }

    .contact-text{
        font-size: 15px;
    }
    
    .map{
        margin-top: 50px;
    }
}